@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@100..900&family=Arimo:wght@400..700&family=Lemon&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #3674B5;
    --color-secundario: #A1E3F9;
    --color-terciario: #000000;
    --fuente-lemon: 'Lemon', serif;
    --fuente-aleo: 'Aleo', serif;
}

body {
    padding:0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.containerHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-secundario);
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;

}

.containerLogo {
    display: flex;
    margin-top: 30px;
    margin-left: 15%;
    
}

.logo {
    width: 90px;
    height: auto;
}

.containerParrafo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: justify;
    
}

.logoParrafoMerca{
    font-family: var(--fuente-lemon);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primario);
    text-align: justify;
   
 
}

.logoParrafoPlasticos{
    font-family: var(--fuente-lemon);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primario);
    text-align: justify;
    
 
}

.containerCasaCerrar{
    display: flex;
    flex-direction: row;
}

.contenedorMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: var(--color-primario);
    border-radius: 100px 100px 0 0;
    padding: 50%;
}

.menuPaginasPrincipales{
    display: flex;
    flex-direction: column;
}


.containerGetionVentas,.containerIngresoCapital{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 500px;
}

.containerInformes{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 580px;
}

.containerAdministracion,.containerGestionGastos{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 500px;
}

.imgAdministracion,.imgInformes,.imgGestionGastos,.imgGestionVentas,.imgIngresoCapital{
    width: 80px;
    height: auto;
}




