@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@100..900&family=Arimo:wght@400..700&family=Lemon&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #3674B5;
    --color-secundario: #A1E3F9;
    --color-terciario: #000000;
    --fuente-lemon: 'Lemon', serif;
    --fuente-aleo: 'Aleo', serif;
}
body {
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedorMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contenedorInicioSesion {
    background-color: var(--color-secundario);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    width: 90%;
    height: 80%;
    max-width: 350px;
    max-height: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logo {
    width: 90px;
    height: auto;
}

.containerParrafo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.logoParrafo {
    font-family: var(--fuente-lemon);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primario);
    text-align: center;
 
}

.containerTitleInicio {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px; 
}

.titleInicio {
    font-family: var(--fuente-aleo);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-terciario);
}

.containerBotonUsuario, .containerBotonContrasena {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 15px; 
}

.containerTextoUsuario,.containerTextoContrasena{
    display: flex;
    padding: 0%;
    margin: 0%;
}

.textoUsuario, .textoContrasena {
    font-family: var(--fuente-aleo);
    font-size: 0.7rem;
    color: var(--color-terciario);
    text-align: start;
    margin-bottom: 5px; 
    margin-left: 20px;
}

.botonUsuario, .botonContrasena {
    border-radius: 20px;
    border: none;
    width: 100%;
    max-width: 270px;
    height: 38px;
    padding: 5px;
    font-size: 0.7rem;
    font-family: var(--fuente-aleo);
    color: var(--color-terciario);

}

.botonSiguiente {
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 25px;
    width: 100%;
    max-width: 270px;
    height: 38px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px; 
}

.botonSiguiente:hover {
    background-color: darkblue;
}



@media (max-width: 600px) {
    .contenedorInicioSesion {
        width: 95%; /* Ajustado para pantallas más pequeñas */
        padding: 20px;
    }

    .logoParrafo {
        font-size: 1.4rem;
    }

    .titleInicio {
        font-size: 1rem;
    }

    .textoUsuario, .textoContrasena {
        font-size: 0.8rem;
    }

    .botonUsuario, .botonContrasena, .botonSiguiente {
        font-size: 0.8rem;
        height: 38px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 70px;
    }

    .logoParrafo {
        font-size: 1.2rem;
    }

    .contenedorInicioSesion {
        padding: 15px;
    }

    .botonUsuario, .botonContrasena, .botonSiguiente {
        font-size: 0.7rem;
        height: 35px;
    }
}